* {
margin: 0;
padding: 0;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html,body { height:100%; }

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #F9FBFF;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    width: 50%;
    max-width: 1000px;
    height: 95%;
    margin: auto;
}

.top:hover, .left:hover, .right:hover, .ldeck:hover, .rdeck:hover, .cards:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.3s ease-in-out;
}

.top {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
}

.bottom {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  align-content: space-between;
}

#img {
  width: 20%;
}

.profile {
  border-radius: 50%;
  width: 80%;
}

#title {
  width: 70%;
}

#blurb {
  font-size: 15px;
}

.left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  width: 35%;
  height: 100%;
  transition: box-shadow 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.left::-webkit-scrollbar, .right::-webkit-scrollbar {
    width: 5px;
}

.left::-webkit-scrollbar-track, .right::-webkit-scrollbar-track {
    background-color: #F9FBFF;
}

.left::-webkit-scrollbar-thumb, .right::-webkit-scrollbar-thumb {
    background-color: #52504e ;
    border-radius: 100px;
}

#contact, #skills, #edu {
  width: 90%;
  white-space: normal;
}


#cntct {
  list-style-type: none;
}

i {
  padding-right: 2%;
}

a:link {
  text-decoration: underline;
  text-decoration-color: #937E38;
  color: black;
  transition: color 0.3s ease-in-out;
}

a:visited {
  text-decoration: underline;
  text-decoration-color: #937E38;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #937E38;
  transition: color 0.3s ease-in-out;
}

.right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  width: 65%;
  height: 100%;
  transition: box-shadow 0.3s ease-in-out;
  overflow-y: auto;
}

#xp1, #xp2 {
  width: 90%;
  white-space: normal;
}

.indent {
  padding-left: 4%;
}

ul {
  list-style-position: inside;
}

li {
  font-size: 15px;
}


h1 {
  font-size: 30px;
  font-weight: normal;
}

h2 {
  font-size: 25px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

h4 {
  font-size: 15px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 15%;
}

.ldeck {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  width: 35%;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: box-shadow 0.3s ease-in-out;
}


.rdeck {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  overflow-y: auto;
  overflow-x: hidden;
  width: 65%;
  height: 80%;
  transition: box-shadow 0.3s ease-in-out;
}

.rdeck::-webkit-scrollbar, .ldeck::-webkit-scrollbar {
    width: 5px;
}

.rdeck::-webkit-scrollbar-track, .ldeck::-webkit-scrollbar-track {
    background-color: #F9FBFF;
}

.rdeck::-webkit-scrollbar-thumb, .ldeck::-webkit-scrollbar-thumb {
    background-color: #52504e ;
    border-radius: 100px;
}

.cards {
  flex: 1 2 auto;
  margin: 5%;
  width: 200px;
  max-width: 300px;
  height: 200px;
  transition: box-shadow 0.3s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.innerc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

img {
  width: 100%;
  height: 80%;
}
